@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  .modal-receipt, .modal-receipt * {
    visibility: visible;
  }
  .modal-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
    margin: 0;
    padding: 2mm;
  }
}
